.Background_Color{
  background-color: grey;
}

.FONT_STYLE1{
  margin-top: 10px;
  color: aqua;
  font-size: 15px;
  margin-left: 50px;
}

.INPUT_STYLE1{
  margin-left: 15px;
  height: 40px;
  width: 1300px;
  margin-bottom: -10px;
}

.BUTTON_STYLE1{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 30px;
  color: pink;
}

.FONT_STYLE2{
  color: aqua;
  font-size: 15px;
  margin-left: 50px;
}

.INPUT_STYLE2{
  margin-left: 15px;
  height: 40px;
  width: 1000px;
  margin-bottom: 10px;
}

.BUTTON_STYLE2{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 30px;
  color: pink;
}

.IMAGE_1{
  margin-left: 60px;
  width: 95%;
  height: 1000px;
}

.Comments_middle{
  text-align: center;
}

.DIV1{
  margin-top: 20px;
  margin-left: 300px;
  float:left;
}

.Button2{
  text-align: center;
  margin-top: 200px;
}

.Card{
  margin-top: 50px;
  float:left;
  margin-left: 80px;
  margin-bottom: 50px;
}

.Card_Replace{
  margin-top: 100px;
  display: flex;
  margin-left: 200px;
  margin-bottom: -150px;
}

.AD_Main{
  background-color: green;
  width: 100%;
  height: 200px;
  
}

.AD_F{
  background-color: green;
  margin-left: 370px;
  float:left;
  text-align: center;
}

.AD_B{
  background-color: green;
  text-align: center;
  width: 100%;
  height: 200px;
}

.AD_IMAGE{
  width: 0.001px;
  height: 0.001px;
}